.header {
	background-color: rgb(195, 220, 231);
	padding: 50px 0;

	&>.container>.row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&>.logo {
			font-size: 32px;
		}
	}
}